*, 
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    display: flex;
}

nav a:link, nav a:visited {
    padding: 1.1rem 1.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

nav a:hover, nav a:active {
    text-decoration: underline;
    color: white;
    background-color: black;
}